# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/
logs/
DungeonClub_Data

# Directory created by dartdoc
doc/api/

ambience/tracks/
database/
database_backup/
mail/gmail_credentials
web/main.dart.*
web/style

# Exclude asset previews but include source images
web/images/assets/*-preview.*

# Include only a single battle map in the repo
web/images/assets/scene/*
!web/images/assets/scene/Shipyard (23x16) Base Map, Day.jpg
config.yaml
login.yaml
