#session {
    border: 2px solid black;
    margin: 20px;
}

#board {
    position: relative;
    display: flex;
    transition-duration: 0.05s;
}

#boardContainer {
    position: relative;
    overflow: hidden;
    user-select: none;
}
