@use 'scheme.scss';

body {
	@extend %font-paragraph;

	background-color: var(--color-background);
	margin: 0;
}

h1,
h2,
h3 {
	@extend %font-heading;
}

%transitions-playful {
	transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

	&:hover {
		transition-duration: 0.2s;
	}

	&:active {
		transition-duration: 0.05s;
	}
}

@mixin raise($strength, $max: 6px) {
	box-shadow: 0 ($strength * $max) 0 #0005;
	transform: translateY($max * (1 - $strength));
}

.raised {
	@extend %transitions-playful;
	@include raise(1);

	&:not(:disabled):hover {
		@include raise(0.5);
	}

	&:not(:disabled):active {
		@include raise(0.25);
	}
}

button {
	@extend %transitions-playful;
	padding: 0.5em 2em;
	border-radius: 0.5em;
	border: 4px solid transparent;
	box-sizing: border-box;

	background-color: var(--color-light);
	color: var(--color-primary);

	font: inherit;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.9em;
	letter-spacing: 0.08em;
}

button:disabled {
	background-color: var(--color-light2);
	color: var(--color-primary-disabled);
}

button:enabled {
	cursor: pointer;

	&:hover {
		background-color: var(--color-light2);
	}

	&:active {
		border-color: var(--color-light);
	}
}

section {
	padding: 4em 0;
}
