@use 'flex';
@use 'interface';

:root {
	color-scheme: dark;
}

body {
	margin: 0;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

main {
	padding: 2em 0;
}

em {
	color: var(--color-primary);
	font-style: inherit;
}
