body {
	--color-primary: #ffb77c;
	--color-primary-disabled: hsl(39, 60%, 60%);

	--color-dark: #38312c;
	--color-light: #ffffff;
	--color-light2: #fff1d6;

	--color-background: #1a1717;

	--color-button-text: #ddd;
	--color-selected: #ccc;
	--color-header: #2e2926;
	--color-separator: #614f4a;

	--color-good: #62ffa9;
	--color-bad: #ff7676;
}
