@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap');

$radius: 8px;

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

%heading {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

h1 {
    @extend %heading;
    font-weight: normal;
}
h2 {
    @extend %heading;
    text-align: center;
}
h3 {
    @extend %heading;
    margin-top: 8px;
}

%clickable {
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: white;
    padding: 6px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    font-family: inherit;
    font-size: 16px;
}
%clickable:not(:disabled) {
    cursor: pointer;
}
%clickable:not(:disabled):hover, .tab %clickable:not(:disabled):focus {
    background-color: #ddd;
}
%clickable:not(:disabled):active {
    background-color: #bbb !important;
    transition-duration: 0s;
}

button {
    @extend %clickable;
}
button.icon {
    padding: 0;
    width: 25px;
    height: 25px;
    font-size: 16px;
}
button.big {
    @extend %responsive;
    background-color: #d0d0d0;
    padding: 16px;
}
button.big:not(:disabled):hover {
    background-color: #ddd;
}

.good {
    color: #3c943c;
}
.bad {
    color: #e24b4b;
}

input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid #bbb;
    transition-property: border-bottom-color;
    transition-duration: 0.1s;
    margin-bottom: 1px;
}
input:focus {
    border-bottom: 2px solid #555;
    margin-bottom: 0;
}

li {
    display: flex;
    gap: 4px;
    border: 2px solid #bbb;
    border-radius: $radius;
    align-items: center;
    padding: 4px;
}

%responsive {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
%responsive:not(:disabled):hover {
    transform: scale(0.98);
    transition-duration: 0.1s;
}
%responsive:not(:disabled):active {
    transform: scale(0.95);
}

#notifications {
    @extend %vertical;
    position: fixed;
    top: 0;
    left: 0;
    margin: 24px;
    gap: 10px;
}

.notification {
    display: flex;
    background-color: white;
    box-shadow: 0 0 8px #0008;
    border-radius: $radius;
    padding: 8px;
    align-items: center;
    gap: 4px;

    span {
        margin-left: 4px;
    }
}

#charPick {
    max-width: 70%;
    align-items: center;

    .char {
        @extend %responsive;
        display: flex;
        flex-direction: column;
        text-align: center;
        cursor: pointer;
        transition-duration: 0.1s;

        img {
            width: 80px;
            height: 80px;
        }
    }
    .char:hover {
        text-decoration: underline;
    }
}

.roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

%center {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    @extend %center;
    position: fixed;
    pointer-events: none;

    > * {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transition-duration: 0.1s;
    }
    > .show {
        opacity: 1;
        pointer-events: all;
    }
}

.edit-img {
    @extend %responsive;
    display: flex;
    position: relative;

    > div {
        @extend %center;
        position: absolute;
        background-color: #0006;
        color: white;
        font-weight: bold;
        opacity: 0;
        cursor: pointer;
        user-select: none;
        transition-duration: 0.1s;
    }
    > div:hover {
        opacity: 1;
    }
}

%vertical {
    display: flex;
    flex-direction: column;
}

.panel {
    @extend %vertical;
    background-color: white;
    box-shadow: 0 0 8px #0006;
    border-radius: $radius;
    padding: 16px 32px;
    gap: 16px;

    > div {
        @extend %vertical;
        gap: 4px;
    }
}
#editGamePanel {
    #editChars {
        display: grid;
        grid-template-columns: auto auto;
        gap: 4px;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;

        img {
            width: 64px;
            height: 64px;
        }
    }
}