@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato&display=swap');

$radius: 4px;

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-text-primary);
    background-color: var(--color-background);

    --color-background: white;
    --color-primary: #4933c3;
    --color-text-primary: #111;
    --color-text-inverse: white;
    --color-not-intense: #f8f8f8;
    --color-button-hover: #ddd;
    --color-button-active: #bbb;
    --color-button-big: #d0d0d0;
    --color-button-text: #111;
    --color-input-underline: #bbb;
    --color-input-active: #555;
    --color-selected: #555;
    --color-good: #009c46;
    --color-bad: #e24b4b;
    --color-panel-shadow: #0006;

    --weight-thick: bold;

    &.dark-mode {
        --color-background: #16161a;
        --color-primary: #9683ff;
        --color-text-primary: white;
        --color-text-inverse: black;
        --color-not-intense: #24252b;
        --color-button-hover: #40394b;
        --color-button-active: #342c3d;
        --color-button-big: #444;
        --color-button-text: #ddd;
        --color-input-underline: #444;
        --color-input-active: #777;
        --color-selected: #ccc;
        --color-good: #62ffa9;
        --color-bad: #ff7676;
        --color-panel-shadow: #000a;
    
        --weight-thick: 500;
    }

    &:not(.logged-in) {
        .acc {
            display: none;
        }
    }
}

b {
    font-weight: var(--weight-thick);
}

p {
    margin: 0;

    &.note {
        color: var(--color-input-active);
        word-wrap: break-word;
        white-space: normal;
        max-width: fit-content;
    }
}

%heading {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-weight: var(--weight-thick);
}

h1 {
    @extend %heading;
    font-weight: normal;
    color: var(--color-primary);
}
h2 {
    @extend %heading;
}
h3 {
    @extend %heading;
    margin-top: 8px;
}

%clickable {
    outline: none;
    border: none;
    border-radius: $radius;
    background-color: transparent;
    color: var(--color-button-text);
    padding: 6px;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    font-family: inherit;
    font-size: 16px;

    &:disabled {
        opacity: 0.5;
    }
}
%clickable:not(:disabled) {
    cursor: pointer;
}
%clickable:not(:disabled):hover, .tab %clickable:not(:disabled):focus {
    background-color: var(--color-button-hover);
    color: var(--color-text-primary);
}
%clickable:not(:disabled):active {
    background-color: var(--color-button-active) !important;
    transition-duration: 0s;
}

button {
    @extend %clickable;
}
button.icon {
    padding: 4px;
    box-sizing: border-box;
    min-width: 25px;
    height: 25px;
    font-size: 16px;
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
button.big {
    @extend %responsive;
    background-color: var(--color-button-big);
    color: var(--color-text-primary);
    padding: 8px 16px;
}

.good:not(:disabled) {
    color: var(--color-good) !important;
}
.bad:not(:disabled) {
    color: var(--color-bad) !important;
}

input {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-input-underline);
    transition-property: border-bottom-color;
    transition-duration: 0.1s;
    margin-bottom: 1px;
    background-color: inherit;
    color: inherit;
    padding: 0 0 3px 0;

    &:focus {
        border-bottom: 2px solid #555;
        margin-bottom: 0;
    }

    &[type=number] {
        width: 70px;
    }
}
input[type=color] {
    border: none;
    margin: 0;
    width: 100%;
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.5;
}

li {
    display: flex;
    gap: 4px;
    border: 2px solid var(--color-button-active);
    border-radius: $radius;
    align-items: center;
    padding: 4px;
}

%responsive {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
%responsive:not(:disabled):hover {
    transform: scale(0.98);
    transition-duration: 0.1s;
}
%responsive:not(:disabled):active {
    transform: scale(0.95);
}

#content {
    display: flex;
    position: relative;
    height: 100%;
}

#notifications {
    @extend %vertical;
    position: fixed;
    top: 0;
    left: 0;
    margin: 24px;
    gap: 10px;
}

.notification {
    display: flex;
    background-color: var(--color-not-intense);
    box-shadow: 0 0 8px #0008;
    border-radius: $radius;
    padding: 8px;
    align-items: center;
    gap: 4px;

    span {
        margin-left: 4px;
    }
}

.roster {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row !important;
    gap: 8px !important;
}

%center {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#overlay {
    @extend %center;
    position: fixed;
    pointer-events: none;

    > * {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transition-duration: 0.1s;
    }
    > .show {
        opacity: 1;
        pointer-events: all;
    }
}

.edit-img {
    @extend %responsive;
    display: flex;
    position: relative;

    > div {
        @extend %center;
        position: absolute;
        background-color: #0008;
        color: white;
        font-weight: bold;
        opacity: 0;
        cursor: pointer;
        user-select: none;
        transition-duration: 0.1s;
    }
    > div:hover {
        opacity: 1;
    }
}

.close {
    @extend .icon;
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
}

@mixin center-background {
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    background-clip: content-box;
}

%vertical {
    display: flex;
    flex-direction: column;
}

.file-upload {
    @extend %responsive;
    @extend %clickable;
    display: inline-flex;
    padding: 6px 12px;
    cursor: pointer;
    align-self: center;

    > input {
        display: none;
    }
}

section {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none;
    opacity: 0;
    transition-duration: 0.5s;
}
section.show {
    pointer-events: all;
    opacity: 1;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--color-not-intense);
}