$outline: 4px;

#board {
    > svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

svg rect {
    width: 100%;
    height: 100%;
}

#polymask {
    .polypattern, .positive-pole {
        fill: url(#barrier) !important;
        opacity: 0.7;
    }

    .polypattern, #polynegdisplay {
        stroke: #fb8;
        stroke-width: $outline;
    }

    #polynegdisplay {
        fill: none;
    }

    #polyprev {
        fill: none;
        stroke: #fff;
        stroke-width: 4px;
        stroke-dasharray: 8px;
        stroke-linejoin: round;
        stroke-linecap: round;

        &.poly-invalid {
            stroke: #f66;
        }
    }
}

#session:not(.is-dm) #polymask {
    opacity: 1 !important;

    .polypattern {
        fill: var(--color-background) !important;
        opacity: 1 !important;
    }
}