@use 'base.scss';

#boardContainer {
    position: relative;
    overflow: hidden;
    user-select: none;
    min-height: 500px;
    display: flex;
    justify-content: center;
    border: 1px solid black;

    > .controls {
        position: absolute;
        z-index: 5;
        right: 16px;
        top: 16px;
        background-color: var(--color-not-intense);
        padding: 8px 16px;
        gap: 8px;
        max-width: 400px;

        button.active {
            color: var(--color-text-primary);
            background-color: var(--color-button-big);
        }

        #scenes {
            flex-direction: row;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 8px;
            padding: 8px 0;

            > div {
                width: 120px;
                height: 80px;
                border-radius: 8px;
                overflow: hidden;
                box-sizing: border-box;
                cursor: pointer;
                border: 2px solid transparent;
                transition-duration: 0.1s;
                transition-property: border-color;

                &.playing {
                    border-color: var(--color-selected);
                }
                &.editing {
                    border-color: var(--color-selected);
                    border-style: dashed;
                }
                &:hover {
                    border-color: var(--color-text-primary);
                }

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        #gridControls {
            display: flex;
            flex-direction: column;
        }
    }
}

#board {
    position: absolute;
    display: flex;
    transition-duration: 0.05s;
    border: 2px solid black;
    box-sizing: border-box;
    outline: 1px solid transparent;
}

#grid {
    position: absolute;
}

.movable {
    position: absolute;
    border: 2px solid slateblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;

    &.accessible {
        cursor: move;
    }

    > img {
        width: inherit;
        height: inherit;
        pointer-events: none;
    }
}