@use 'base.scss';
@use 'panels.scss';

%active {
    box-shadow: 0 0 6px var(--color-text-inverse) inset;
}

#boardContainer, #map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#boardContainer {
    position: relative;
    overflow: hidden;
    user-select: none;
    min-height: 500px;
    box-sizing: border-box;

    > .controls {
        position: absolute;
        z-index: 5;
        padding: 8px 10px;
        box-sizing: border-box;
        gap: 8px;

        h3 {
            margin-top: 2px;
            font-weight: normal;
        }

        button.active {
            color: var(--color-text-primary);
            background-color: var(--color-button-big);
        }

        #gridControls {
            display: flex;
            flex-direction: column;

            > span {
                display: flex;
                justify-content: space-between;
                gap: 8px;
                white-space: nowrap;

                input {
                    width: 160px;
                }

                #gridTileSize::after {
                    content: 'ft';
                    width: 100px;
                }
            }
        }
    }

    #sceneEditor {
        top: 16px;
        left: 16px;
    }

    #prefabPalette {
        top: 16px;
        right: 16px;
        max-width: 222px;
        z-index: 6;
        gap: 0;

        > .prefab-selection {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .prefab-container {
            display: grid;
            grid-template-columns: min-content min-content min-content min-content min-content;
            gap: 0;

            > * {
                width: 40px;
                height: 40px;
                transition-duration: 0.2s;
                transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

                &:active {
                    transform: scale(0.9) !important;
                }
            }

            > .prefab {
                @extend .with-tooltip;
                @include base.center-background;
                cursor: pointer;
                opacity: 0.5;
                box-sizing: border-box;
                border: 2px solid transparent;

                &.selected {
                    opacity: 1;
                    border: 2px solid var(--color-note);
                }
                &:not(.selected) {
                    transform: scale(0.95);

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        #prefabImage {
            width: 80px;
            height: 80px;
            align-self: center;
        }

        #prefabProperties {
            transition-duration: 0.3s;
            overflow: hidden;
            max-height: 600px;
            margin-top: 8px;

            &.disabled {
                max-height: 0;
                margin-top: 0;
            }

            span {
                display: flex;
                gap: 8px;
                white-space: nowrap;

                > input {
                    width: 100%;
                }
            }
        }

        #prefabAccess {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 1px;
            border: 1px solid var(--color-input-underline);
            background-color: var(--color-input-underline);
            z-index: 10;
            opacity: 1;
            overflow-y: auto;
            max-height: 180px;
            transition-duration: 0.2s;

            > li {
                border: none;
                border-radius: 0;
                color: var(--color-note);
                align-items: baseline;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                background-color: var(--color-background);

                &.active::after {
                    content: '\f00c';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                }
                &.active {
                    color: var(--color-text-primary);
                }

                &:hover {
                    background-color: var(--color-not-intense);
                }
            }

            &.disabled {
                max-height: 0;
                border: 0 solid transparent;
            }
        }
    }

    #selectionProperties {
        min-width: 100px;
        position: absolute;
        top: -3px;
        right: calc(100% + 3px);
        padding: 8px;
        gap: 8px;
        cursor: default;
        white-space: nowrap;
        transform-origin: top right;
        transition-duration: 0.1s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        opacity: 0.8;
        box-shadow: none;

        > span {
            gap: 8px;
            justify-content: flex-start;

            > input {
                width: 100%;
            }
        }

        &:hover {
            opacity: 1 !important;
        }
    }

    #sceneSelector {
        @include panels.hooked(186px);
        width: 100%;
        border-radius: 0%;

        #scenes {
            flex-direction: row;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 8px;
            padding: 8px 0 44px 0;

            > div {
                > div {
                    @include base.center-background;
                    min-width: 120px;
                    max-width: 120px;
                    height: 80px;
                    border-radius: base.$radius;
                    overflow: hidden;
                    box-sizing: border-box;
                    cursor: pointer;
                    border: 2px solid transparent;
                    position: relative;

                    &.editing {
                        @extend %active;
                        border-color: var(--color-text-primary);
                        border-style: dashed;
                    }
                    &.playing {
                        @extend %active;
                        border-color: var(--color-good) !important;
                    }

                    button {
                        border-radius: 0%;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-color: var(--color-not-intense);
                        align-items: center;

                        &:hover {
                            opacity: 0.8 !important;
                        }
                    }
                }

                > span {
                    padding: 2px 0;
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    transition-duration: 0.1s;

                    button.play:hover {
                        color: var(--color-good);
                    }
                }
                
                &:hover {
                    > div {
                        @extend %active;
                        border-color: var(--color-text-primary);
                        border-style: solid;
                        button {
                            opacity: 0.75;
                        }
                    }

                    > span {
                        opacity: 1;
                    }
                }
            }
        }
    }

    #playerControls {
        position: absolute;
        top: 16px;
        left: 16px;
        display: flex;
        flex-direction: column;

        button:not(:hover) {
            background-color: var(--color-not-intense);
        }

        .tab {
            position: relative;
            
            .content {
                position: absolute;
                top: 0;
                left: calc(100%);
                background-color: var(--color-background);
                border-collapse: collapse;
                pointer-events: none;
                opacity: 0;
                transition-duration: 0.1s;
                overflow: hidden;

                td {
                    @extend %clickable;
                    padding: 4px;
                    min-width: 20px;
                    border: 1px solid var(--color-not-intense);
                    border-radius: 0%;
                    transition-duration: 0s;
                }
            }

            &:hover {
                border-radius: base.$radius 0 0 base.$radius;
                background-color: var(--color-button-hover);

                .content {
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }
    }

    .no-edit, .edit-only {
        transition-duration: 0.2s;
    }

    &.edit {
        .no-edit {
            @extend .invisible;
        }

        .movable {
            opacity: 0.5;
            pointer-events: none;
        }

        #gridCanvas {
            &.blink {
                animation: blink 1s infinite linear;
            }
            &:hover {
                opacity: 0;
            }
        }
    }
    &:not(.edit) {
        .edit-only {
            @extend .invisible;
        }

        .movable.accessible {
            cursor: move;
        }
    }
    &.measuring {
        .no-measure {
            @extend .invisible;
        }
    }
}

@keyframes blink {
    0%   { opacity: 0.7; filter: brightness(0); }
    50%  { opacity: 0.9; filter: brightness(1); }
    100% { opacity: 0.7; filter: brightness(0); }
}

#session {
    display: flex;
    flex-direction: row;

    &:not(.is-dm) {
        .dm {
            display: none !important;
        }

        .movable.accessible {
            border-width: 3px;
            border-color: white;
            box-shadow: 0 0 8px #0008 inset;
        }
    }

    > *:not(:last-child) {
        border-right: 2px solid var(--color-separator);
    }
}

.dice {
    color: var(--color-primary);
}
.roll {
    font-family: 'Courier New', Courier, monospace;
    padding: 0 2px;
}

#log {
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    width: 25vw;
    max-width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;

    > * {
        padding: 2px 8px;
        text-shadow: var(--shadow-text);
        font-size: 1.1em;

        > span {
            display: inline-flex;
        }

        &.hidden {
            opacity: 0.6;
        }
        &:hover {
            opacity: 1;
        }
        &:last-child {
            background-color: var(--color-not-intense);
        }
    }
}

#board {
    position: absolute;
    display: flex;
    transition-duration: 0.05s;
    border: 2px solid var(--color-separator);
    box-sizing: border-box;
    box-shadow: 0 0 20px #0003;
    outline: 1px solid transparent;

    #movableGhost {
        opacity: 0.75;
        z-index: 2;
        box-shadow: 0 0 10px #000a;
        pointer-events: none;
    }

    &:active {
        #movableGhost {
            opacity: 0;
        }
    }

    canvas {
        position: absolute;
        transition-duration: 0.2s;
    }

    > .hidden {
        display: none;
    }

    #distanceCanvas {
        animation: blink 1s infinite linear;
        z-index: 100;
    }

    #distanceText {
        position: absolute;
        z-index: 101;
        padding: 8px 12px;
        border-radius: base.$radius;
        background-color: var(--color-not-intense);
        box-shadow: 0 0 8px 2px #0005;
        transform-origin: top left;
        transition-duration: 0.1s;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        pointer-events: none;
        white-space: nowrap;
    }
}

#grid {
    position: absolute;
    --cell-size: 4;
}

.movable {
    @include base.center-background;
    position: absolute;
    border: 0 solid transparent;
    border-radius: 50%;
    width: calc(var(--size) * var(--cell-size) * 1px);
    height: calc(var(--size) * var(--cell-size) * 1px);
    left: calc(var(--x) * var(--cell-size) * 1px);
    top: calc(var(--y) * var(--cell-size) * 1px);
    box-sizing: border-box;
    box-shadow: 0 0 8px #000a;
    transition: border-color 0.25s,
                border-width 0.05s;

    --size: 1;
    --x: 0;
    --y: 0;

    &.empty {
        border-width: 3px;
        border-color: var(--color-bad);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #222;

        > span {
            pointer-events: none;
            display: flex;
            font-family: 'Fira Mono';
            color: var(--color-bad);
            text-align: center;
            font-size: calc(var(--size) * var(--cell-size) * 1.5px / var(--length));
            --length: 1;
        }
    }
    &:not(.empty) {
        .on-empty {
            display: none;
        }
    }
    &:hover {
        &.accessible {
            border-width: 3px;
            border-color: var(--color-primary);
        }

        #selectionProperties {
            opacity: 0.9 !important;
        }
    }
    &.selected {
        border-width: 3px;
        border-color: white !important;
        box-shadow: 0 0 16px 4px #000a,
                    0 0 8px #0008 inset;
        z-index: 3;
    }
}

#map {
    @extend %vertical;
    justify-content: center;
    position: absolute;
    z-index: 10;
    background-color: #000d;
    transition-duration: 0.5s;
    font-size: 23px;
    padding: 20px 0;
    gap: 12px;

    > button[type=reset] {
        @extend %responsive;
        left: 16px;
        top: 16px;
    }

    > button {
        position: absolute;
        font-size: inherit;
        align-items: center;
        gap: 8px;
        bottom: 16px;
    }

    > input {
        text-align: center;
    }

    > #maps {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        left: 0;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    #mapTools {
        position: absolute;
        left: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        > div {
            display: grid;
            grid-template-columns: auto auto;
            background-color: #aaa;
            border-radius: base.$radius;
            border: 1px solid #ddd;
            gap: 1px;
            overflow: hidden;
        }

        button {
            background-color: var(--color-background);
            border-radius: 0;

            &:hover {
                background-color: var(--color-button-hover);
            }
            &.active {
                background-color: var(--color-button-active);
                color: var(--color-primary);
            }

            &[mode=text] {
                font-weight: bold;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 20px;
            }
        }
    }

    .map {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        height: 100%;
        max-height: calc(100% - 48px);
        box-sizing: border-box;
        padding: 0 20px;

        > div {
            height: 100%;

            text {
                cursor: default;
                user-select: none;
                paint-order: stroke;
                stroke-linejoin: round;
                fill: #fff;
                stroke: #222;
                stroke-width: 5px;
            }

            &[mode=text] text {
                outline: 1px dashed #fffd;
                cursor: move;

                &:hover {
                    outline: 1px solid #fffa;
                }
            }
        }

        image {
            background-repeat: no-repeat;
        }
    }

    &:not(.show) {
        pointer-events: none;
        opacity: 0;
        transition-duration: 0.25s;

        > #maps {
            transform: translateY(150%);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    }
}

#whiteboardPin {
    fill: #fffa;
    stroke: black;
    stroke-width: 2px;
    animation: pin-pulse 4s ease-in-out infinite;
    opacity: 0;

    &.visible {
        opacity: 1;
    }
}
  
@keyframes pin-pulse {
      0% { r: 10 }
     50% { r: 15 }
    100% { r: 10 }
}

#whiteboardTextControls {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 6px;
    gap: 6px;
    transform: translate(-50%, calc(-100% - 24px));
    background-color: var(--color-background);
    box-shadow: 0 0 4px #0005;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    font-size: 16px;

    &.hidden {
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%, calc(-100% - 8px));
    }

    span {
        display: flex;
        gap: inherit;
        align-items: center;
    }
    
    textarea {
        width: 400px;
        height: 60px;
        overflow: auto;
        white-space: nowrap;
    }
    
    input {
        margin-right: auto;
    }
}