@use 'base.scss';

%active {
    box-shadow: 0 0 6px var(--color-text-inverse) inset;
}

#boardContainer {
    position: relative;
    overflow: hidden;
    user-select: none;
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    > .controls {
        position: absolute;
        z-index: 5;
        padding: 8px 16px;
        box-sizing: border-box;
        gap: 8px;

        button.active {
            color: var(--color-text-primary);
            background-color: var(--color-button-big);
        }

        #gridControls {
            display: flex;
            flex-direction: column;
        }
    }

    #sceneEditor {
        top: 16px;
        right: 16px;
    }

    #sceneSelector {
        @include base.hooked(172px);
        width: 100%;
        border-radius: 0%;

        #scenes {
            flex-direction: row;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 8px;
            padding: 8px 0 32px 0;

            > div {
                > div {
                    @include base.center-background;
                    min-width: 120px;
                    max-width: 120px;
                    height: 80px;
                    border-radius: 8px;
                    box-sizing: border-box;
                    cursor: pointer;
                    border: 2px solid transparent;
                    position: relative;
    
                    &.editing {
                        @extend %active;
                        border-color: var(--color-text-primary);
                        border-style: dashed;
                    }
                    &.playing {
                        @extend %active;
                        border-color: var(--color-good) !important;
                    }
    
                    button {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        background-color: var(--color-not-intense);
                        &:hover {
                            opacity: 0.8 !important;
                        }
                    }
                }

                > span {
                    padding: 2px 0;
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    transition-duration: 0.1s;

                    button.play:hover {
                        color: var(--color-good);
                    }
                }
                
                &:hover {
                    > div {
                        @extend %active;
                        border-color: var(--color-text-primary);
                        border-style: solid;
                        button {
                            opacity: 0.75;
                        }
                    }

                    > span {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

#board {
    position: absolute;
    display: flex;
    transition-duration: 0.05s;
    border: 2px solid black;
    box-sizing: border-box;
    outline: 1px solid transparent;
}

#grid, canvas {
    position: absolute;
}

.movable {
    @include base.center-background;
    position: absolute;
    border: 2px solid slateblue;
    border-radius: 50%;
    width: calc(var(--size) * 100%);
    height: calc(var(--size) * 100%);
    overflow: hidden;
    box-sizing: border-box;

    --size: 1;

    &.accessible {
        cursor: move;
    }
}