@use 'base.scss';
@use 'panels.scss';

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 32px;

    > h1 {
        font-size: 2em;
    }

    h2 {
        padding-top: 16px;
        margin-bottom: 8px;
        border-top: 2px solid var(--color-not-intense);
    }

    span {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: center;
        white-space: nowrap;
    }

    > .panel {
        gap: 16px;
        padding: 30px 36px;
        box-shadow: none;
        min-width: 200px;
        width: 16vw;

        > div {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }

    > .stretch {
        width: 100%;
    }
}

#gamesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .game {
        display: flex;
        flex-direction: column;
        background-color: var(--color-not-intense);
        box-shadow: 0 0 4px #000a;
        padding: 8px;
        gap: 16px;
        width: 200px;
        border-radius: base.$radius;
        transition-duration: 0.3s;

        h3 {
            margin: 0;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                min-width: 25px;
                height: 25px;
                padding: 4px;
            }
        }
    }
}

#charPick {
    max-width: 70%;
    align-items: center;

    b {
        margin-left: 3px;
    }

    .char {
        @extend %responsive;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.1s;
        width: 80px;

        img {
            height: 80px;
            border-radius: 6px;
            box-shadow: 0 0 2px var(--color-text-primary);
            box-sizing: border-box;
        }
    }
    .char:hover {
        text-decoration: underline;
    }
}