@use 'base.scss';
@use 'panels.scss';

#home {
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 2em;
    }

    span {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: center;
        white-space: nowrap;
    }

    > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
    }

    #loginTab {
        align-items: center;
        gap: 28px;
        border-bottom: 2px solid var(--color-separator);
        text-align: center;
        overflow: hidden;
        max-height: 500px;
        transition: max-height 0.5s 0.25s,
                    padding 0.5s 0.25s,
                    border-bottom 0.5s 0.25s;
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);

        > .panel {
            gap: 16px;
            padding: 30px 36px;
            box-shadow: none;
            min-width: 200px;
            width: 16vw;
    
            > div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }

        &.hidden {
            max-height: 0;
            padding: 0;
            border-bottom: 0 solid transparent;
            pointer-events: none;
        }
    }
}

#gamesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .game {
        display: flex;
        flex-direction: column;
        background-color: var(--color-header);
        box-shadow: 0 0 4px var(--color-panel-shadow);
        padding: 8px;
        gap: 16px;
        min-width: 200px;
        border-radius: base.$radius;
        transition-duration: 0.3s;
        animation: popup 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) backwards;

        h3 {
            margin: 0;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                min-width: 25px;
                height: 25px;
                padding: 4px;
            }
        }
    }
}

@keyframes popup {
    0% { transform: scale(0.5); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

#charPick {
    max-width: 70%;
    align-items: center;

    b {
        margin-left: 3px;
    }

    .char {
        @extend %responsive;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.1s;
        width: 80px;

        img {
            height: 80px;
            border-radius: 6px;
            box-shadow: 0 0 2px var(--color-text-primary);
            box-sizing: border-box;
        }
    }
    .char:hover {
        text-decoration: underline;
    }
}