@use 'base.scss';

@mixin hooked($height) {
    bottom: -$height;
    min-height: $height;
    max-height: $height;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    border-right: none;
    border-bottom: none;
    border-left: none;

    > .top-hook {
        position: absolute;
        bottom: 100%;
        width: 100%;
        left: 0;
        align-items: center;
        transition-duration: 0.2s;

        > div {
            @extend %vertical;
            align-items: center;
            color: white;
            text-shadow: 0 0 3px #000,
                         0 0 8px #000a;
            padding: 8px 0;
        }
    }
    &:hover {
        bottom: 0;
        > .top-hook {
            opacity: 0;
        }
    }
    &:not(:hover) {
        box-shadow: none !important;
    }
}

.panel {
    @extend %vertical;
    background-color: var(--color-header);
    box-shadow: var(--shadow-panel);
    border: 2px solid var(--color-panel-border);
    border-radius: base.$radius;
    padding: 24px 32px 16px 32px;
    gap: 16px;
    min-width: 250px;
    pointer-events: all;

    h2 {
        text-align: center;
    }

    > div {
        @extend %vertical;
        gap: 4px;
    }

    > span {
        display: flex;
        justify-content: space-evenly;
    }

    > button {
        align-self: center;
    }

    &.dialog {
        min-width: 350px;
        max-width: 500px;
    }
}

#editGamePanel {
    min-width: 500px;

    &.upload {
        pointer-events: none !important;
        filter: brightness(0.5);
    }

    &:not(.prepare) {
        .on-prepare { display: none; }
    }
    &.prepare {
        #delete { display: none; }
    }

    > div > span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        user-select: none;
    }

    #editChars {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: min-content;
        gap: 4px;
        // padding: 4px;
        min-height: 20vh;
        max-height: 25vh;
        overflow-y: auto;
        overflow-x: hidden;

        > li {
            animation: popup 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) backwards;
        }

        img {
            width: 64px;
            height: 64px;
        }

        input { width: 100%; }

        &:empty:after {
            content: "No characters added";
            color: var(--color-note);
        }
    }

    #startingScene {
        background-color: var(--color-background);
        width: 100%;
        max-width: 40vw;
        min-height: 100px;
        max-height: 20vh;
        margin-top: 4px;
        overflow: hidden;
        align-self: center;
    }
}

#joinPanel {
    width: 32vw;
    align-items: center;
    text-align: center;

    input {
        width: 240px;
        text-align: center;
        align-self: center;
    }
    #joinError:not(:empty) {
        align-self: center;
        margin: 8px 0;
    }
}

#charPick {
    max-width: 70%;
    align-items: center;

    b {
        margin-left: 3px;
    }

    .char {
        @extend %responsive;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        cursor: pointer;
        transition-duration: 0.1s;
        width: 80px;

        img {
            height: 80px;
            border-radius: 6px;
            box-shadow: 0 0 2px var(--color-text-primary);
            box-sizing: border-box;
        }

        &.reserved {
            pointer-events: none;
            opacity: 0.5;
        }
    }
    .char:hover {
        text-decoration: underline;
    }
}

#uploadPanel {
    > div {
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-width: 50vh;
        min-height: 30vh;
        position: relative;
        box-shadow: 0 0 4px #0009;
        box-sizing: border-box;
        transition-duration: 0.1s;
        outline: 2px dashed transparent;
        outline-offset: 4px;

        &.drag {
            outline-color: white;
            outline-offset: 0;
            background-color: #aaa5;
            filter: contrast(0.5) brightness(1.5);
        }

        > *:not(img) {
            position: absolute;
        }
    }
}

#registerPanel, #resetPanel {
    min-width: 320px;

    section {
        position: initial;
        overflow: hidden;
        display: none;
        gap: inherit;
        flex-direction: inherit;
        align-items: center;
    }
    section.show {
        height: 100%;
        display: inherit;
        pointer-events: none;
    }
    &.show > section.show {
        pointer-events: all;
    }

    form {
        display: inherit;
        gap: inherit;
        flex-direction: inherit;
        align-items: center;
    }

    table {
        border-collapse: collapse;

        tr > td + td {
            padding-left: 16px;
        }
        tr + tr > td {
            padding-top: 12px;
        }

        input {
            min-width: 300px;
        }
    }

    .code {
        width: 160px;
        font-size: 24px;
        text-align: center;
    }
}

#overlay {
    @extend %center;
    position: fixed;
    pointer-events: none;
    z-index: 100;
    transition-duration: 0.5s;

    &.block {
        pointer-events: all;
        background-color: #000a;
    }

    > * {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        transition-duration: 0.2s;
        transform: translateY(20px);
    }
    > .show {
        opacity: 1;
        pointer-events: all;
        transform: none;
    }
}