#crop.hide {
    display: none;
}

#crop {
    background-color: transparent;
    position: absolute;
    --resizer-size: 16px;
    --inset-size: 6px;
    --inset: -10px;
    --corner-size: calc(var(--resizer-size) + 10px);
    z-index: 2;
    cursor: move;

    > * {
        background-color: transparent;
        position: absolute;
        width: var(--resizer-size);
        height: var(--resizer-size);
        box-sizing: border-box;
    }
    
    > .width {
        left: var(--inset-size);
        right: var(--inset-size);
        width: auto;
    }
    > .height {
        top: var(--inset-size);
        bottom: var(--inset-size);
        height: auto;
    }
    > .corner {
        width: var(--corner-size);
        height: var(--corner-size);
        border: 2px solid #fff6;
        border-radius: 50%;
        box-shadow: 0 0 4px #000a;
        transition-duration: 0.2s;
    }

    > .top { top: var(--inset); }
    > .right { right: var(--inset); }
    > .bottom { bottom: var(--inset); }
    > .left { left: var(--inset); }
}

#crop:active, #crop:not(:hover) {
    > .corner:not(:active) {
        border-color: #fff0;
        box-shadow: 0 0 10px #0000;
    }
}